@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos generales para cada pagina del sitio */
/*------------------------------------------------------------------------------------------------------------------------------*/

.carouselHeader h5{
    color: white;
    background-color: black;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2rem;
    margin-left: 50%;
}
#header nav{
    background-color: rgb(5, 19, 97);
}
    #header a{
        color: white;
        font-size: 1.5rem;
    }
    #header a:hover{
        color:black;
        text-shadow: 0px 0px 8px rgb(255, 254, 254);
    }
h1{
    margin: 5% 10% 5% 10%;
    color: white;
    background-color: black;
    font-family: 'Lato';
    text-transform: uppercase;
    text-align: center;
}
.btn{
    border-radius: 0%;
}
    .btn:hover{
        background-color: rgb(13, 36, 165);
        border-color: black;
    }
#footer{
    margin-top: 1%;
    color: white;
    background-color: rgb(5, 19, 97);
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* cambio de color de los iconos de Font Awesome:
    - Reutilicé la clase fa-bars para agregar color blanco al icono de boton hamburguesa
    - Reutilicé la clase fa-brands para agregar color blanco a los iconos del footer
    - Cuando se activa el hover, los iconos de redes sociales cambian de color*/
/*------------------------------------------------------------------------------------------------------------------------------*/
.fa-bars{
    color:white;
}
.fa-brands{
    color: white;
}
#footer a:hover .fa-brands{
    color:black;
    text-shadow: 0px 0px 4px rgb(255, 254, 254);
}


/*------------------------------------------------------------------------------------------------------------------------------*/
/* estilos para la pagina index */
/*------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 375px){
    #vistaIndexDesktop{
        display: none;
    }
    #vistaIndexMobile{
        display: block;
    }
        #vistaIndexMobile img[src="img/index/migracion_index.png"]{
            width: 90%;
        }
}
@media only screen and (min-width: 768px){
    #vistaIndexMobile{
        display: none;
    }
    #vistaIndexDesktop{
        display: block;
    }
    .contenidoIndex{
        margin-top: 10%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 1024px){
    .contenidoIndex{
        margin-top: 5%;
        margin-bottom: 5%;
        flex-direction: row;
    }
    .contenidoIndex h2,p{
        padding-right:10%;
    }
}


/*------------------------------------------------------------------------------------------------------------------------------*/
/* estilos para la pagina servicios */
/*------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 375px){
    #vistaServiciosDesktop{
        display: none;
    }
    #vistaServiciosMobile{
        display: block;
    }
        #vistaServiciosMobile li{
            list-style: none;
            padding-right: 12.5%;
        }
    }
@media only screen and (min-width: 768px){
    #vistaServiciosMobile li{
        padding-right: 5%;
    }
}
@media only screen and (min-width: 1024px){
    #vistaServiciosMobile{
        display: none;
    }
    #vistaServiciosDesktop{
        display: block;
    }
        #vistaServiciosDesktop li{
            list-style: none;
            padding-right: 11%;
        }
    .seccionesServicios div:hover{
        border: 3px solid rgb(17, 17, 17);
        transform: scale(1.1, 1.1);
        box-shadow: 3px 3px gray;
    }
}