@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

//Colores
$shadowColor1:white; 
$shadowColor2: gray;
$colorHoverBorder: black;
$fontColorPrincipal: white;
$fontColorSecundario: black;

$bgColor:(
	'uno': rgb(5,19,97),
	'dos': black,
	'tres': white,
);

//Font Family
$fontPrincipal: 'Lato';
$fontSecundaria: 'Roboto';

%anchoBorde{
	width: 100%;
	border-style:double;
}

@mixin textoComun ($color, $bgcolor, $family) {
	color:$color;
	background-color: $bgcolor;
	font-family: $family;
	
}
@mixin dflexBlog ($direction, $align, $justify, $wrap){
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
	flex-wrap: $wrap;
}