@import "_variables";
@import "_navBarFooterForm";

#vistaServiciosDesktop {
	li {
		list-style: none;
		padding-right: 11%;
	}
}
#lnkDetailStartUp{
	@extend %lnkServiciosMobile;
}
#lnkDetailGrowBig{
	@extend %lnkServiciosMobile;
}
#lnkDetailGoGeek{
	@extend %lnkServiciosMobile;
}
#vdTech {
	@extend %anchoBorde;
	border-style: none;
}
.imgTech{
	@extend %anchoBorde;
}
.imgNosotros{
	@extend %anchoBorde;
	border-style: none;
}
#mapaPequeno{
	width: 100%;
}
#mapaMediano {
	display: none;
}
.frmContacto {
	padding-left: 5%;
}
.card{
	height: 300px;
}
.card-body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.articuloBlog {
	@include dflexBlog (column, center, center, nowrap);
}
.tarjetaBlog {
	margin-bottom: 5%;
	width: 18rem;
	h4 {
		font-size: 1rem;
	}
}
@media only screen and (min-width: 768px) {
	.contenidoIndex {
		margin-top: 10%;
		margin-bottom: 10%;
		@include dflexBlog (column, center, center, nowrap);
	}
	.articuloBlog {
		@include dflexBlog (row, flex-start, space-around, wrap);
	}
}
@media only screen and (min-width: 1024px) {
	.contenidoIndex {
		margin-top: 5%;
		margin-bottom: 5%;
		flex-direction: row;
		h2 {
			padding-right: 10%;
		}
	}
	p {
		padding-right: 10%;
	}
	.seccionesServicios {
		div {
			&:hover {
                border: 3px solid $colorHoverBorder;
				transform: scale(1.1, 1.1);
				box-shadow: 3px 3px $shadowColor2;
			}
		}
	}
	#mapaPequeno {
		display: none;
	}
	#mapaMediano {
		display: block;
	}
	.articuloBlog {
		@include dflexBlog (row, flex-start, space-around, wrap);
	}
}


